{% extends "base.html" %}
{% block title %}Champions{% endblock %}
{% block content %}
  <h1>Champions</h1>
    {#  this loops champions list, with basic stats, and image  #}
  <ul class="champ-list">
    {% for champ in champions %}
      <li>
        <a href="{% url 'champ_detail' champ.id %}">
          <img
            src="https://ddragon.leagueoflegends.com/cdn/{{ champ.version }}/img/champion/{{ champ.image.full }}"
            alt="{{ champ.name }}"
          >
          {{ champ.name }}
        </a>
        <div class="stats">
          HP: {{ champ.stats.hp }}, AD: {{ champ.stats.attackdamage }}, MS: {{ champ.stats.movespeed }}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
